* {
    margin: 0 auto;
}

html, body, #about, #portfolio, #contact, #home {
	font-family: 'Roboto', sans-serif;
	height: auto;
    min-height: 100vh;
}

#about, #portfolio, #contact, #home {
	padding-top: 2em;
}

#about, #portfolio, #contact {
    background-color:#fff;
}

#about, #portfolio {
	border-bottom: 1px dashed black;
	width: 90%;
}

#contact {
	width: 90%;
}

#design a, #development a, #contactContent a {
	color: #010101;
	text-decoration: none;
	transition: color 0.4s ease;
}

.fa {
	color: #010101;
	padding-left: 8px;
	padding-right: 8px;
}

header {
	background: transparent; 
	height: 40px; 
	left:0px;
	position: fixed;
	top:0px;
	width: 100%;
}

#mainNav {
	float: right;
	margin-right: 1em;
	margin-top: 15px;
    word-spacing:20px;
}

#mainNav a {
	border-bottom: 0px solid #89BCB3;
	color: #000;
	font-weight: 600;
	text-decoration: none;
	transition: border 0.4s ease;
}

#mainNav a:hover, .fa:hover, #design a:hover, #development a:hover, #contactContent a:hover {
	border-bottom: 2px solid #89BCB3;
	color: #000;
	transition: border 0.4s ease;
}

.fa, #design a, #development a, #contactContent a {
	border-bottom: 0px solid #89BCB3;
	color: #000;
	text-decoration: none;
	transition: border 0.4s ease;
}

#home {
	background:#FBC75D;
    font-family: 'Proxima Nova', Georgia, sans-serif;
}

#homeContent {
	line-height: 1.5;
	margin-top: 17%;
	text-align: center;
	width: 50%;
}

#homeContent a {
	border-bottom: 2px solid #FFFFFF;
	color: #010101;
	text-decoration: none;
	transition: border-bottom 0.4s ease;
}

#homeContent a:hover {
	border-bottom: 2px solid #89BCB3;
	color: #010101;
	text-decoration: none;
	transition: border-bottom 0.4s ease;
}

#aboutContent {
	line-height: 2;
	margin-top: 8em;
	padding-right: 10em;
    width: 70%;
}
 #aboutContent li {
	line-height: 2em;
	list-style: none;
	padding-left: 1em;
 }

#development, #design {
	margin-top: 8em;
}

#development ul, #design ul {
	list-style: none;
	padding-top: 20px;
}

#development li, #design li {
	display: inline;
	padding-right: 1em;
}

#portfolioContent {
	width: 80%;
}

#contactContent {
	line-height: 2.5;
	margin-top: 16em;
	padding-right: 8.5em;
    width: 70%;
}

#contactContent ul{
	list-style: none;
}

#contactContent li{
	display: inline;
	padding-right: 1em;
}