* {
	color: #010101;
    margin: 0 auto;
}

html, body, #about, #work, #home {
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: #fffced;
	height: auto;
    min-height: 100vh;
}

#about, #work, #contact, #home {
	padding-top: 2em;
}

#about, #work {
	border-bottom: 1px dashed black;
	width: 90%;
}

#contact {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: #fffced;
	width: 90%;
}

.fa {
	padding-left: 8px;
	padding-right: 8px;
}

.introContent {
	/* font-family: 'Nunito', sans-serif; */
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

.subIntroContent {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

header {
	background: transparent; 
	height: 40px; 
	left:0px;
	position: fixed;
	top:0px;
	width: 100%;
}

#mainNav {
	float: right;
	margin-right: 1em;
	margin-top: 15px;
	word-spacing: 20px;
}

#mainNav a {
	border-bottom: 0px solid #fe7e52;
	/* font-family: 'Nunito', sans-serif; */
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	text-decoration: none;
	transition: border 0.2s ease;
}

header img {
	float: left;
	margin-left: 1em;
	margin-top: 10px;
	width: 1.8em;
}

#mainNav a:hover, #design a:hover, #development a:hover, #email:hover {
	border-bottom: 2px solid #fe7e52;
	transition: border 0.2s ease;
}

.fa, #design a, #development a, #email {
	border-bottom: 0px solid #fe7e52;
	text-decoration: none;
	transition: border 0.2s ease;
}

.sectionTitle {
	border-bottom: 2px solid #ffd371;
	/* font-family: 'Nunito', sans-serif; */
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

#home {
	background:#ffd371;
}

#homeContent {
	line-height: 1.5;
	margin-top: 17%;
	width: 50%;
	float: left;
	padding-left: 10rem;
}

#homeContent a {
	border-bottom: 2px solid #FFF;
	text-decoration: none;
	transition: border-bottom 0.2s ease;
}

#homeContent a:hover {
	border-bottom: 2px solid #fe7e52;
	text-decoration: none;
	transition: border-bottom 0.2s ease;
}

#aboutContent {
	line-height: 2;
	margin-top: 8em;
	padding-right: 10em;
    width: 70%;
}

 #aboutContent li {
	line-height: 2em;
	list-style: none;
	padding-left: 1em;
 }

 #self {
	 float: right;
	 margin-top: -15rem;
 }

#development, #design {
	margin-top: 8em;
	width: 45%;
	float: left;
}

#development ul, #design ul {
	list-style: none;
	padding-top: 20px;
}

#development li, #design li {
	padding-right: 1em;
	line-height: 2rem;
}

#workContent {
	width: 80%;
}

footer {
	height: 3rem;
}

footer a {
	text-decoration: none;
}

#contact .fa {
	color: #010101;
	transition: color 0.2s ease;
}

#contact .fa:hover {
	color: #fe7e52;
	transition: color 0.2s ease;
}

#email {
	float: right;
}