* {
    color: #010101;
    margin: 0 auto;
}

body {
    background-color: #fffced;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
    margin-top: 2em;
    width: 64%;
}

header {
	background: transparent; 
	height: 40px; 
	left:0px;
	position: fixed;
	top:0px;
	width: 100%;
}

header img {
	float: left;
	margin-left: 1em;
	margin-top: 10px;
	width: 1.8em;
}

h1 {
	/* font-family: 'Nunito', sans-serif;
    font-weight: 700; */
    font-family: 'Playfair Display', serif;
	font-weight: 700;
    text-align: center;
}

h3 {
    /* font-family: 'Nunito', sans-serif;
    font-weight: 700;  */
    font-family: 'Playfair Display', serif;
	font-weight: 700;
}

a {
    border-bottom: 2px solid #fe7e52;
    text-decoration: none;
	transition: background-color 0.4s ease;
}

a:hover {
    background-color: #fe7e52;
    text-decoration: none;
	transition: background-color 0.4s ease;
}

ul {
    list-style: none;
}