* {
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-top: 2em;
    width: 64%;
}

h1 {
    font-family: 'Proxima Nova', Georgia, sans-serif;
}

a {
    border-bottom: 2px solid #89BCB3;
    color: #010101;
    text-decoration: none;
	transition: background-color 0.4s ease;
}

a:hover {
    background-color: #89BCB3;
    color: #010101;
    text-decoration: none;
	transition: background-color 0.4s ease;
}

ul {
    list-style: none;
}