body {
	color: #36434B;
	font-family: 'Proxima Nova', Georgia, sans-serif;
	letter-spacing: 1px;
}

.yello {
	transition: 0.4s ease;
}

.yello:Hover {
	color: #FFCD57;
	transition: 0.4s ease;
}

.seafoam {
	transition: 0.4s ease;
}

.seafoam:hover {
	transition: 0.4s ease;
	color: #89BCB3;
}

.yell2 {
	transition: 0.4s ease;
}

.yell2:hover {
	color: #FFE365;
	transition: 0.4s ease;
}

.coral {
	transition: 0.4s ease;
}

.coral:hover {
	color: #FF845B;
	transition: 0.4s ease;
}

a {
	color: #36434B;
	text-decoration: none;
	transition: color 0.4s ease;
}

.fa {
	color: #36434B;
	padding-left: 8px;
	padding-right: 8px;
	transition: color 0.4s ease;
}

.fa:hover,
a:hover {
	color: #89BCB3;
	transition: color 0.4s ease;
}

ul {
	line-height: 1.4em;
	list-style: none;
	padding-left: 0px;
}

#webAndCode {
	float: left;
	height: 12em;
	margin-top: 0.3em;
	text-align: right;
	width: 49%;
}

#designAndExtras {
	float: right;
	margin-top: 0.3em;
	text-align: left;
	width: 49%;
}

header {
	line-height: 0.8em;
	margin-top: 0.8em;
	text-align: center;
}

footer {
	margin: 0 auto;
	text-align: center;
	width: 50%;
}

#resume {
	margin-top: 14em;
	text-align: center;
}

.HolyGrail {
	display: flex;
	flex-direction: column;
	min-height: 90vh;
}

.HolyGrail-body {
	display: flex;
	flex: 1;
}

.HolyGrail-content {
	flex: 1;
	margin-top: 4em;
}

.HolyGrail-nav,
.HolyGrail-ads {
	flex: 0 0 12em;
}

.HolyGrail-nav {
	order: -1;
}

.HolyGrail,
.HolyGrail-body {
	display: flex;
	flex-direction: column;
}

.HolyGrail-nav {
	order: -1;
}

@media (min-width: 768px) {
	.HolyGrail-body {
		flex: 1;
		flex-direction: row;
	}
	.HolyGrail-content {
		flex: 1;
	}
	.HolyGrail-nav,
	.HolyGrail-ads {
		flex: 0 0 12em;
	}
}
