@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    font-family: 'Lato', sans-serif;
}

.content{
    margin: 0 auto;
    width: 900px;
    height: 500px;
    text-align: center;
}

img{
    width: 16em;
    height: 20em;
    border-radius: 12em;
}